



        <!-- about-section -->
        <section class="ttm-row about-top-section clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <div class="position-relative">
                            <!-- ttm_single_image-wrapper -->
                            <div class="ttm_single_image-wrapper ttm-991-center res-991-mt-30">
                                <img class="img-fluid" src="images/single-img-ten.jpg" title="single-img-ten" alt="single-img-ten">
                            </div><!-- ttm_single_image-wrapper end -->
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <div class="pl-45 res-991-pl-0 res-991-mt-30">
                            <!-- section title -->
                            <div class="section-title clearfix">
                                <div class="title-header">
                                    <h5>ABOUT CONSULTANCY</h5>
                                    <h2 class="title">We work with you to address your most critical business priorities</h2>
                                </div>
                                <div class="title-desc">We focus on delivering quantifiable results for our customers, based on a well-tested methodology and solid experience. But of course, this only works because of our close.</div>
                            </div><!-- section title end -->
                            <div class="row no-gutters mt-25">
                                <div class="col-md-6 col-lg-6 col-sm-6">
                                    <ul class="ttm-list ttm-list-style-icon">
                                        <li><i class="fa fa-arrow-circle-right ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Acquire live chat enables sales </span></li>
                                        <li><i class="fa fa-arrow-circle-right ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Engage - marketing automation</span></li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6">
                                    <ul class="ttm-list ttm-list-style-icon">
                                        <li><i class="fa fa-arrow-circle-right ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Learn from customer feedback</span></li>
                                        <li><i class="fa fa-arrow-circle-right ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Support -customer support </span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-100 res-991-mt-50">
                    <div class="col-md-4">
                        <!-- featured-icon-box -->
                        <div class="featured-icon-box left-icon icon-align-top">
                            <div class="featured-icon">
                                <div class="ttm-icon ttm-icon_element-background-color-skincolor ttm-icon_element-size-xs ttm-icon_element-style-round">
                                    <i class="ti ti-info ttm-num"></i>
                                </div>
                            </div>
                            <div class="featured-content pl-20">
                                <div class="featured-title">
                                    <h5 class="mb-0">Creative Strategy</h5>
                                </div>
                                <div class="featured-desc">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                                </div>
                            </div>
                        </div><!-- featured-icon-box end -->
                    </div>
                    <div class="col-md-4">
                        <!-- featured-icon-box -->
                        <div class="featured-icon-box left-icon icon-align-top">
                            <div class="featured-icon">
                                <div class="ttm-icon ttm-icon_element-background-color-skincolor ttm-icon_element-size-xs ttm-icon_element-style-round">
                                    <i class="ti ti-info ttm-num"></i>
                                </div>
                            </div>
                            <div class="featured-content pl-20">
                                <div class="featured-title">
                                    <h5 class="mb-0">Digital Solutions</h5>
                                </div>
                                <div class="featured-desc">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                                </div>
                            </div>
                        </div><!-- featured-icon-box end -->
                    </div>
                    <div class="col-md-4">
                        <!-- featured-icon-box -->
                        <div class="featured-icon-box left-icon icon-align-top">
                            <div class="featured-icon">
                                <div class="ttm-icon ttm-icon_element-background-color-skincolor ttm-icon_element-size-xs ttm-icon_element-style-round">
                                    <i class="ti ti-info ttm-num"></i>
                                </div>
                            </div>
                            <div class="featured-content pl-20">
                                <div class="featured-title">
                                    <h5 class="mb-0">Powerful Services</h5>
                                </div>
                                <div class="featured-desc">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                                </div>
                            </div>
                        </div><!-- featured-icon-box end -->
                    </div>
                </div>
            </div>
        </section>
        <!-- about-section end -->
        
        <!-- tab-section -->
        <section class="ttm-row about-tab-section bg-img7 ttm-bgcolor-skincolor clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-2"></div>
                    <div class="col-md-6 col-sm-8">
                        <!-- section title -->
                        <div class="section-title text-center ttm-textcolor-white with-desc clearfix">
                            <div class="title-header">
                                <h5 class="ttm-textcolor-white">WHAT WE OFFER FOR YOU</h5>
                                <h2 class="title">Here Are Some Major Milestones</h2>
                            </div>
                        </div><!-- section title end -->
                    </div>
                    <div class="col-md-3 col-sm-2"></div>
                </div>
                <div class="row tab-row">
                    <div class="col-lg-12">
                        <div class="ttm-tabs text-center ttm-tab-style-classic">
                            <ul class="tabs mb-20"><!-- tabs -->
                                <li class="tab active"><a href="#"> <i class="fa fa-floppy-o"></i> Overview </a></li>
                                <li class="tab"><a href="#"> <i class="fa fa-floppy-o"></i> Curriculam </a></li>
                                <li class="tab"><a href="#"> <i class="fa fa-floppy-o"></i> Teachers </a></li>
                                <li class="tab"><a href="#"> <i class="fa fa-floppy-o"></i> Reviews </a></li>
                            </ul><!-- tabs end-->
                            <div class="content-tab ttm-bgcolor-white width-100"><!--content-tabs -->
                                <!-- content-inner -->
                                <div class="content-inner active">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="grey-border pr-5 res-991-pr-0">
                                                <!-- ttm_single_image-wrapper -->
                                                <div class="ttm_single_image-wrapper with-border15">
                                                    <img class="img-fluid" src="images/single-img-eight.jpg" title="single-img-eight" alt="single-img-eight">
                                                </div><!-- ttm_single_image-wrapper end -->
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <!-- section title -->
                                            <div class="text-left pl-15 pt-18 res-991-pl-0">
                                                <!-- section title -->
                                                <div class="section-title clearfix">
                                                    <div class="title-header">
                                                        <h3 class="title">Reason to Reject following Drawbacks</h3>
                                                    </div>
                                                    <div class="title-desc"><p class="ttm-textcolor-dark">To obtain higher performance, our leaders first identify the critical obstacles to forward to overcome the loss. We define our company’s mission &amp; Prioritize company objectives</p></div>
                                                    <div class="title-desc"><p class="ttm-textcolor-dark">Sometimes you get into it for the wrong reasons, &amp; eventually, it hits you on the face. These reasons can be a drawback but an eye-opener.</p></div>
                                                </div><!-- section title end -->
                                                <ul class="ttm-list ttm-list-textsize-medium ttm-list-style-icon pt-15">
                                                    <li><i class="fa fa-arrow-circle-right ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Running out of money can be a good sign </span></li>
                                                    <li><i class="fa fa-arrow-circle-right ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Clients are always right, except when they are wrong</span></li>
                                                    <li><i class="fa fa-arrow-circle-right ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">You’re worth every penny, so show it</span></li>
                                                    <li><i class="fa fa-arrow-circle-right ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Running out of money can be a good sign </span></li>
                                                </ul>
                                            </div><!-- section title end -->
                                        </div>
                                    </div><!-- row end -->
                                </div><!-- content-inner -->
                                <!-- content-inner -->
                                <div class="content-inner">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="grey-border pr-5 res-991-pr-0">
                                                <!-- ttm_single_image-wrapper -->
                                                <div class="ttm_single_image-wrapper with-border15">
                                                    <img class="img-fluid" src="images/single-img-eight.jpg" title="single-img-eight" alt="single-img-eight">
                                                </div><!-- ttm_single_image-wrapper end -->
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <!-- section title -->
                                            <div class="text-left pl-15 pt-18 res-991-pl-0">
                                                <!-- section title -->
                                                <div class="section-title clearfix">
                                                    <div class="title-header">
                                                        <h3 class="title">Reason to Reject following Drawbacks</h3>
                                                    </div>
                                                    <div class="title-desc"><p class="ttm-textcolor-dark">To obtain higher performance, our leaders first identify the critical obstacles to forward to overcome the loss. We define our company’s mission &amp; Prioritize company objectives</p></div>
                                                    <div class="title-desc"><p class="ttm-textcolor-dark">Sometimes you get into it for the wrong reasons, &amp; eventually, it hits you on the face. These reasons can be a drawback but an eye-opener.</p></div>
                                                </div><!-- section title end -->
                                                <ul class="ttm-list ttm-list-textsize-medium ttm-list-style-icon pt-15">
                                                    <li><i class="fa fa-arrow-circle-right ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Running out of money can be a good sign </span></li>
                                                    <li><i class="fa fa-arrow-circle-right ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Clients are always right, except when they are wrong</span></li>
                                                    <li><i class="fa fa-arrow-circle-right ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">You’re worth every penny, so show it</span></li>
                                                    <li><i class="fa fa-arrow-circle-right ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Running out of money can be a good sign </span></li>
                                                </ul>
                                            </div><!-- section title end -->
                                        </div>
                                    </div><!-- row end -->
                                </div><!-- content-inner -->
                                <!-- content-inner -->
                                <div class="content-inner">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="grey-border pr-5 res-991-pr-0">
                                                <!-- ttm_single_image-wrapper -->
                                                <div class="ttm_single_image-wrapper with-border15">
                                                    <img class="img-fluid" src="images/single-img-eight.jpg" title="single-img-eight" alt="single-img-eight">
                                                </div><!-- ttm_single_image-wrapper end -->
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <!-- section title -->
                                            <div class="text-left pl-15 pt-18 res-991-pl-0">
                                                <!-- section title -->
                                                <div class="section-title clearfix">
                                                    <div class="title-header">
                                                        <h3 class="title">Reason to Reject following Drawbacks</h3>
                                                    </div>
                                                    <div class="title-desc"><p class="ttm-textcolor-dark">To obtain higher performance, our leaders first identify the critical obstacles to forward to overcome the loss. We define our company’s mission &amp; Prioritize company objectives</p></div>
                                                    <div class="title-desc"><p class="ttm-textcolor-dark">Sometimes you get into it for the wrong reasons, &amp; eventually, it hits you on the face. These reasons can be a drawback but an eye-opener.</p></div>
                                                </div><!-- section title end -->
                                                <ul class="ttm-list ttm-list-textsize-medium ttm-list-style-icon pt-15">
                                                    <li><i class="fa fa-arrow-circle-right ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Running out of money can be a good sign </span></li>
                                                    <li><i class="fa fa-arrow-circle-right ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Clients are always right, except when they are wrong</span></li>
                                                    <li><i class="fa fa-arrow-circle-right ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">You’re worth every penny, so show it</span></li>
                                                    <li><i class="fa fa-arrow-circle-right ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Running out of money can be a good sign </span></li>
                                                </ul>
                                            </div><!-- section title end -->
                                        </div>
                                    </div><!-- row end -->
                                </div><!-- content-inner -->
                                <!-- content-inner -->
                                <div class="content-inner">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="grey-border pr-5 res-991-pr-0">
                                                <!-- ttm_single_image-wrapper -->
                                                <div class="ttm_single_image-wrapper with-border15">
                                                    <img class="img-fluid" src="images/single-img-eight.jpg" title="single-img-eight" alt="single-img-eight">
                                                </div><!-- ttm_single_image-wrapper end -->
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <!-- section title -->
                                            <div class="text-left pl-15 pt-18 res-991-pl-0">
                                                <!-- section title -->
                                                <div class="section-title clearfix">
                                                    <div class="title-header">
                                                        <h3 class="title">Reason to Reject following Drawbacks</h3>
                                                    </div>
                                                    <div class="title-desc"><p class="ttm-textcolor-dark">To obtain higher performance, our leaders first identify the critical obstacles to forward to overcome the loss. We define our company’s mission &amp; Prioritize company objectives</p></div>
                                                    <div class="title-desc"><p class="ttm-textcolor-dark">Sometimes you get into it for the wrong reasons, &amp; eventually, it hits you on the face. These reasons can be a drawback but an eye-opener.</p></div>
                                                </div><!-- section title end -->
                                                <ul class="ttm-list ttm-list-textsize-medium ttm-list-style-icon pt-15">
                                                    <li><i class="fa fa-arrow-circle-right ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Running out of money can be a good sign </span></li>
                                                    <li><i class="fa fa-arrow-circle-right ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Clients are always right, except when they are wrong</span></li>
                                                    <li><i class="fa fa-arrow-circle-right ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">You’re worth every penny, so show it</span></li>
                                                    <li><i class="fa fa-arrow-circle-right ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Running out of money can be a good sign </span></li>
                                                </ul>
                                            </div><!-- section title end -->
                                        </div>
                                    </div><!-- row end -->
                                </div><!-- content-inner -->
                            </div><!--content-tabs end-->
                        </div>
                    </div>
                </div>
                <div class="row panel-row">
                    <div  id="accordion" class="panel-group width-100">
                        <!-- ttm-panel -->
                        <div class="ttm-panel panel panel-default ttm-tabs-style-classic">
                            <div class="panel-heading"><!-- panel-heading -->
                                <h4 class="panel-title"><!-- panel-heading -->
                                  <a data-toggle="collapse" href="#collapse1" data-parent="#accordion"><i class="fa fa-floppy-o"></i><span>Overview</span></a>
                                </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse in ttm-textcolor-white">
                                <div class="panel-body"><!-- panel-body -->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="grey-border pr-5 res-991-pr-0">
                                                <!-- ttm_single_image-wrapper -->
                                                <div class="ttm_single_image-wrapper with-border15">
                                                    <img class="img-fluid" src="images/single-img-eight.jpg" title="single-img-eight" alt="single-img-eight">
                                                </div><!-- ttm_single_image-wrapper end -->
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <!-- section title -->
                                            <div class="text-left pl-15 pt-18 res-991-pl-0">
                                                <!-- section title -->
                                                <div class="section-title clearfix">
                                                    <div class="title-header">
                                                        <h3 class="title">Reason to Reject following Drawbacks</h3>
                                                    </div>
                                                    <div class="title-desc"><p class="ttm-textcolor-white">To obtain higher performance, our leaders first identify the critical obstacles to forward to overcome the loss. We define our company’s mission &amp; Prioritize company objectives</p></div>
                                                    <div class="title-desc"><p class="ttm-textcolor-white">Sometimes you get into it for the wrong reasons, &amp; eventually, it hits you on the face. These reasons can be a drawback but an eye-opener.</p></div>
                                                </div><!-- section title end -->
                                                <ul class="ttm-list ttm-list-textsize-medium ttm-list-style-icon pt-15">
                                                    <li><i class="fa fa-arrow-circle-right ttm-textcolor-white"></i><span class="ttm-list-li-content">Running out of money can be a good sign </span></li>
                                                    <li><i class="fa fa-arrow-circle-right ttm-textcolor-white"></i><span class="ttm-list-li-content">Clients are always right, except when they are wrong</span></li>
                                                    <li><i class="fa fa-arrow-circle-right ttm-textcolor-white"></i><span class="ttm-list-li-content">You’re worth every penny, so show it</span></li>
                                                    <li><i class="fa fa-arrow-circle-right ttm-textcolor-white"></i><span class="ttm-list-li-content">Running out of money can be a good sign </span></li>
                                                </ul>
                                            </div><!-- section title end -->
                                        </div>
                                    </div><!-- row end -->
                                </div><!-- panel-body end-->
                            </div>
                        </div><!-- ttm-panel end -->
                        <!-- ttm-panel -->
                        <div class="ttm-panel panel panel-default ttm-tabs-style-classic">
                            <div class="panel-heading"><!-- panel-heading -->
                                <h4 class="panel-title"><!-- panel-heading -->
                                  <a data-toggle="collapse" href="#collapse2" data-parent="#accordion"><i class="fa fa-floppy-o"></i><span>Curriculam</span></a>
                                </h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse in ttm-textcolor-white">
                                <div class="panel-body"><!-- panel-body -->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="grey-border pr-5 res-991-pr-0">
                                                <!-- ttm_single_image-wrapper -->
                                                <div class="ttm_single_image-wrapper with-border15">
                                                    <img class="img-fluid" src="images/single-img-eight.jpg" title="single-img-eight" alt="single-img-eight">
                                                </div><!-- ttm_single_image-wrapper end -->
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <!-- section title -->
                                            <div class="text-left pl-15 pt-18 res-991-pl-0">
                                                <!-- section title -->
                                                <div class="section-title clearfix">
                                                    <div class="title-header">
                                                        <h3 class="title">Reason to Reject following Drawbacks</h3>
                                                    </div>
                                                    <div class="title-desc"><p class="ttm-textcolor-white">To obtain higher performance, our leaders first identify the critical obstacles to forward to overcome the loss. We define our company’s mission &amp; Prioritize company objectives</p></div>
                                                    <div class="title-desc"><p class="ttm-textcolor-white">Sometimes you get into it for the wrong reasons, &amp; eventually, it hits you on the face. These reasons can be a drawback but an eye-opener.</p></div>
                                                </div><!-- section title end -->
                                                <ul class="ttm-list ttm-list-textsize-medium ttm-list-style-icon pt-15">
                                                    <li><i class="fa fa-arrow-circle-right ttm-textcolor-white"></i><span class="ttm-list-li-content">Running out of money can be a good sign </span></li>
                                                    <li><i class="fa fa-arrow-circle-right ttm-textcolor-white"></i><span class="ttm-list-li-content">Clients are always right, except when they are wrong</span></li>
                                                    <li><i class="fa fa-arrow-circle-right ttm-textcolor-white"></i><span class="ttm-list-li-content">You’re worth every penny, so show it</span></li>
                                                    <li><i class="fa fa-arrow-circle-right ttm-textcolor-white"></i><span class="ttm-list-li-content">Running out of money can be a good sign </span></li>
                                                </ul>
                                            </div><!-- section title end -->
                                        </div>
                                    </div><!-- row end -->
                                </div><!-- panel-body end-->
                            </div>
                        </div><!-- ttm-panel end -->
                        <!-- ttm-panel -->
                        <div class="ttm-panel panel panel-default ttm-tabs-style-classic">
                            <div class="panel-heading"><!-- panel-heading -->
                                <h4 class="panel-title"><!-- panel-heading -->
                                  <a data-toggle="collapse" href="#collapse3" data-parent="#accordion"><i class="fa fa-floppy-o"></i><span>Teachers</span></a>
                                </h4>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse in ttm-textcolor-white">
                                <div class="panel-body"><!-- panel-body -->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="grey-border pr-5 res-991-pr-0">
                                                <!-- ttm_single_image-wrapper -->
                                                <div class="ttm_single_image-wrapper with-border15">
                                                    <img class="img-fluid" src="images/single-img-eight.jpg" title="single-img-eight" alt="single-img-eight">
                                                </div><!-- ttm_single_image-wrapper end -->
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <!-- section title -->
                                            <div class="text-left pl-15 pt-18 res-991-pl-0">
                                                <!-- section title -->
                                                <div class="section-title clearfix">
                                                    <div class="title-header">
                                                        <h3 class="title">Reason to Reject following Drawbacks</h3>
                                                    </div>
                                                    <div class="title-desc"><p class="ttm-textcolor-white">To obtain higher performance, our leaders first identify the critical obstacles to forward to overcome the loss. We define our company’s mission &amp; Prioritize company objectives</p></div>
                                                    <div class="title-desc"><p class="ttm-textcolor-white">Sometimes you get into it for the wrong reasons, &amp; eventually, it hits you on the face. These reasons can be a drawback but an eye-opener.</p></div>
                                                </div><!-- section title end -->
                                                <ul class="ttm-list ttm-list-textsize-medium ttm-list-style-icon pt-15">
                                                    <li><i class="fa fa-arrow-circle-right ttm-textcolor-white"></i><span class="ttm-list-li-content">Running out of money can be a good sign </span></li>
                                                    <li><i class="fa fa-arrow-circle-right ttm-textcolor-white"></i><span class="ttm-list-li-content">Clients are always right, except when they are wrong</span></li>
                                                    <li><i class="fa fa-arrow-circle-right ttm-textcolor-white"></i><span class="ttm-list-li-content">You’re worth every penny, so show it</span></li>
                                                    <li><i class="fa fa-arrow-circle-right ttm-textcolor-white"></i><span class="ttm-list-li-content">Running out of money can be a good sign </span></li>
                                                </ul>
                                            </div><!-- section title end -->
                                        </div>
                                    </div><!-- row end -->
                                </div><!-- panel-body end-->
                            </div>
                        </div><!-- ttm-panel end -->
                        <!-- ttm-panel -->
                        <div class="ttm-panel panel panel-default ttm-tabs-style-classic">
                            <div class="panel-heading"><!-- panel-heading -->
                                <h4 class="panel-title"><!-- panel-heading -->
                                  <a data-toggle="collapse" href="#collapse4" data-parent="#accordion"><i class="fa fa-floppy-o"></i><span>Reviews</span></a>
                                </h4>
                            </div>
                            <div id="collapse4" class="panel-collapse collapse in ttm-textcolor-white">
                                <div class="panel-body"><!-- panel-body -->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="grey-border pr-5 res-991-pr-0">
                                                <!-- ttm_single_image-wrapper -->
                                                <div class="ttm_single_image-wrapper with-border15">
                                                    <img class="img-fluid" src="images/single-img-eight.jpg" title="single-img-eight" alt="single-img-eight">
                                                </div><!-- ttm_single_image-wrapper end -->
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <!-- section title -->
                                            <div class="text-left pl-15 pt-18 res-991-pl-0">
                                                <!-- section title -->
                                                <div class="section-title clearfix">
                                                    <div class="title-header">
                                                        <h3 class="title">Reason to Reject following Drawbacks</h3>
                                                    </div>
                                                    <div class="title-desc"><p class="ttm-textcolor-white">To obtain higher performance, our leaders first identify the critical obstacles to forward to overcome the loss. We define our company’s mission &amp; Prioritize company objectives</p></div>
                                                    <div class="title-desc"><p class="ttm-textcolor-white">Sometimes you get into it for the wrong reasons, &amp; eventually, it hits you on the face. These reasons can be a drawback but an eye-opener.</p></div>
                                                </div><!-- section title end -->
                                                <ul class="ttm-list ttm-list-textsize-medium ttm-list-style-icon pt-15">
                                                    <li><i class="fa fa-arrow-circle-right ttm-textcolor-white"></i><span class="ttm-list-li-content">Running out of money can be a good sign </span></li>
                                                    <li><i class="fa fa-arrow-circle-right ttm-textcolor-white"></i><span class="ttm-list-li-content">Clients are always right, except when they are wrong</span></li>
                                                    <li><i class="fa fa-arrow-circle-right ttm-textcolor-white"></i><span class="ttm-list-li-content">You’re worth every penny, so show it</span></li>
                                                    <li><i class="fa fa-arrow-circle-right ttm-textcolor-white"></i><span class="ttm-list-li-content">Running out of money can be a good sign </span></li>
                                                </ul>
                                            </div><!-- section title end -->
                                        </div>
                                    </div><!-- row end -->
                                </div><!-- panel-body end-->
                            </div>
                        </div><!-- ttm-panel end -->
                    </div>
                </div>
            </div>
        </section>
        <!-- tab-section -->
        
        <!-- process-section -->
        <section class="ttm-row ttm-bg ttm-bgimage-yes bg-img3 process-section clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-2"></div>
                    <div class="col-md-6 col-sm-8">
                        <!-- section title -->
                        <div class="section-title text-center with-desc clearfix">
                            <div class="title-header">
                                <h5>how it work</h5>
                                <h2 class="title">Three Simple Step To Start Working Process</h2>
                            </div>
                        </div><!-- section title end -->
                    </div>
                    <div class="col-md-3 col-sm-2"></div>
                </div>
                <!-- row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row ttm-processbox-wrapper">
                            <div class="col-lg-4">
                                <div class="ttm-processbox">
                                    <div class="ttm-box-image">
                                        <div class="process-num">
                                            <span class="number">01</span>
                                        </div>
                                    </div>
                                    <div class="featured-content">
                                        <div class="featured-title"><h5>Research Project</h5></div>
                                        <div class="ttm-box-description">Find Sources, Evaluate Sources, Establish a Working</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="ttm-processbox mt-50 res-991-mb-50">
                                    <div class="ttm-box-image">
                                        <div class="process-num">
                                            <span class="number">02</span>
                                        </div>
                                    </div>
                                    <div class="featured-content">
                                        <div class="featured-title"><h5>Targeting</h5></div>
                                        <div class="ttm-box-description">Breaking a market into segments &amp; customers whose desires</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="ttm-processbox">
                                    <div class="ttm-box-image">
                                        <div class="process-num">
                                            <span class="number">03</span>
                                        </div>
                                    </div>
                                    <div class="featured-content">
                                        <div class="featured-title"><h5>Results</h5></div>
                                        <div class="ttm-box-description">Results are the specific actions to prevent future problems.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- row end -->
            </div>
        </section>
        <!-- process-section end -->

        <!-- blog-text-section -->
        <div class="ttm-row blog-text2-section bg-img6 ttm-bgcolor-darkgrey ttm-bg ttm-bgimage-yes clearfix">
            <div class="ttm-row-wrapper-bg-layer ttm-bg-layer"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                    </div>
                </div>
            </div>
        </div>
        <!-- blog-text-section -->

        <!-- blog2-section end -->
        <section class="ttm-row blog2-section about-blog2-section mt_405 clearfix">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-4">
                        <!-- section title -->
                        <div class="section-title clearfix">
                            <div class="title-header">
                                <h5>Latest News</h5>
                                <h2 class="title ttm-textcolor-white">Read Inspirational Story from our blog every week</h2>
                            </div>
                            <div class="title-desc">In any service business, your sole job is to make your client or customer’s life easier. Find a way to work with a customer that makes their life easier. That’s why we post stories every week to get attached to clients.</div>
                            <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-bgcolor-skincolor mt-20 mb-20" href="#">view more News</a>
                        </div><!-- section title end -->
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12 col-sm-6">
                                <!-- featured-imagebox-post -->
                                <div class="featured-imagebox featured-imagebox-post box-shadow mb-10">
                                    <div class="featured-thumbnail">
                                        <img class="img-fluid" src="images/blog/10.jpg" alt="">
                                        <div class="featured-icon">
                                            <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-background-color-skincolor ttm-icon_element-size-xs"> 
                                                <i class="ti ti-pencil"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="featured-content featured-content-post">
                                        <div class="post-title featured-title">
                                            <h5><a href="single-blog.html">Successful Growth In Business 2018</a></h5>
                                        </div>
                                        <div class="post-meta">
                                            <span class="ttm-meta-line"><i class="fa fa-calendar"></i>January 16, 2019</span>
                                            <span class="ttm-meta-line"><i class="fa fa-comment"></i>2,comments</span>
                                        </div>
                                    </div>
                                </div><!-- featured-imagebox-post end -->
                            </div>
                            <div class="col-md-12 col-sm-6">
                                <!-- featured-imagebox-post -->
                                <div class="featured-imagebox featured-imagebox-post box-shadow mb-10">
                                    <div class="featured-thumbnail">
                                        <img class="img-fluid" src="images/blog/12.jpg" alt="">
                                        <div class="featured-icon">
                                            <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-background-color-skincolor ttm-icon_element-size-xs"> 
                                                <i class="ti ti-pencil"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="featured-content featured-content-post">
                                        <div class="post-title featured-title">
                                            <h5><a href="single-blog.html">Seminar for Best Marketing Strategy</a></h5>
                                        </div>
                                        <div class="post-meta">
                                            <span class="ttm-meta-line"><i class="fa fa-calendar"></i>March 16, 2018</span>
                                            <span class="ttm-meta-line"><i class="fa fa-comment"></i>3,comments</span>
                                        </div>
                                    </div>
                                </div><!-- featured-imagebox-post end-->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!-- featured-imagebox-post -->
                        <div class="featured-imagebox featured-imagebox-post box-shadow mb-10">
                            <div class="featured-thumbnail">
                                <img class="img-fluid" src="images/blog/11.jpg" alt="">
                                <div class="featured-icon">
                                    <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-background-color-skincolor ttm-icon_element-size-xs"> 
                                        <i class="ti ti-pencil"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="featured-content featured-content-post">
                                <div class="post-title featured-title">
                                    <h5><a href="single-blog.html">Achieving Best Business Awards</a></h5>
                                </div>
                                <div class="post-meta">
                                    <span class="ttm-meta-line"><i class="fa fa-calendar"></i>January 19, 2018</span>
                                    <span class="ttm-meta-line"><i class="fa fa-comment"></i>4,comments</span>
                                </div>
                            </div>
                        </div><!-- featured-imagebox-post end -->
                    </div>
                </div>
            </div>
        </section>
        <!-- blog2-section end -->

        <!-- client-section -->
        <div class="ttm-row client-section clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- ttm-client -->
                        <div class="ttm-client clients-slide owl-carousel owl-theme owl-loaded mt-5" data-item="5" data-nav="false" data-dots="false" data-auto="true">
                            <div class="client-box ttm-box-view-boxed-logo">
                                <div class="client">
                                    <div class="ttm-client-logo-tooltip" data-tooltip="client-01">
                                        <img class="img-fluid" src="images/client/client-01.png" alt="image">
                                    </div>
                                </div>
                            </div>
                            <div class="client-box ttm-box-view-boxed-logo">
                                <div class="client">
                                    <div class="ttm-client-logo-tooltip" data-tooltip="client-02">
                                        <img class="img-fluid" src="images/client/client-02.png" alt="image">
                                    </div>
                                </div>
                            </div>
                            <div class="client-box ttm-box-view-boxed-logo">
                                <div class="client">
                                    <div class="ttm-client-logo-tooltip" data-tooltip="client-03">
                                        <img class="img-fluid" src="images/client/client-03.png" alt="image">
                                    </div>
                                </div>
                            </div>
                            <div class="client-box ttm-box-view-boxed-logo">
                                <div class="client">
                                    <div class="ttm-client-logo-tooltip" data-tooltip="client-01">
                                        <img class="img-fluid" src="images/client/client-01.png" alt="image">
                                    </div>
                                </div>
                            </div>
                            <div class="client-box ttm-box-view-boxed-logo">
                                <div class="client">
                                    <div class="ttm-client-logo-tooltip" data-tooltip="client-02">
                                        <img class="img-fluid" src="images/client/client-02.png" alt="image">
                                    </div>
                                </div>
                            </div>
                            <div class="client-box ttm-box-view-boxed-logo">
                                <div class="client">
                                    <div class="ttm-client-logo-tooltip" data-tooltip="client-03">
                                        <img class="img-fluid" src="images/client/client-03.png" alt="image">
                                    </div>
                                </div>
                            </div>
                        </div><!-- ttm-client end -->      
                    </div>
                </div>
            </div>
        </div>
        <!-- client-section end-->
       