    <!-- faq-section -->
        <section class="ttm-row single-project-section clearfix">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-md-3 col-sm-6 featured-icon-box style2 text-center without-icon">
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5>Client</h5>
                            </div>
                            <div class="featured-desc">
                                <p>John Martin</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 featured-icon-box style2 text-center without-icon">
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5>Year Date</h5>
                            </div>
                            <div class="featured-desc">
                                <p>April 30,2016</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 featured-icon-box style2 text-center without-icon">
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5>Location</h5>
                            </div>
                            <div class="featured-desc">
                                <p>Bulls Stadium, Califorina</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 featured-icon-box style2 text-center without-icon">
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5>Category</h5>
                            </div>
                            <div class="featured-desc">
                                <p>Automation, Equipment</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-60 res-991-mt-30">
                    <div class="col-md-12">
                        <div class="ttm-featured-wrapper ttm-portfolio-featured-wrapper">
                            <img class="img-fluid" src="images/portfolio/post-one.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="ttm-portfolio-title mt-40">
                            <h4 class="ttm-pf-detailbox-title">Project Details</h4>
                        </div>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of “de Finibus Bonorum et Malorum” (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics.</p>
                    </div>
                    <div class="col-lg-12">
                        <div class="ttm-portfolio-title mt-5">
                            <h5 class="ttm-pf-detailbox-title">Advantages of Project</h5>
                        </div>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="ttm-featured-wrapper ttm-portfolio-featured-wrapper mb-20">
                            <img class="img-fluid" src="images/portfolio/post-five.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="ttm-featured-wrapper ttm-portfolio-featured-wrapper mb-20">
                            <img class="img-fluid" src="images/portfolio/post-two.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="ttm-featured-wrapper ttm-portfolio-featured-wrapper mb-20">
                            <img class="img-fluid" src="images/portfolio/post-three.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="ttm-featured-wrapper ttm-portfolio-featured-wrapper mb-20">
                            <img class="img-fluid" src="images/portfolio/post-four.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model</p>
                    </div>
                </div>
                <div class="row mt-30">
                    <div class="col-lg-12">
                        <div class="social-icons circle social-hover">
                            <div class="ttm-social-share-title d-inline-block">
                                <h5> Share This Projects</h5>
                            </div>
                            <ul class="list-inline mb-0 d-inline-block">
                                <li class="social-facebook"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li class="social-twitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li class="social-gplus"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="separator">
                    <div class="sep-line solid mt-30 mb-30"></div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ttm-nextprev-bottom-nav mb-20">
                            <nav class="navigation post-navigation">
                                <div class="nav-links">
                                    <div class="nav-previous"><a href="#" rel="prev"><span class="meta-nav" aria-hidden="true">Previous</span></a></div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="row ttm-pf-single-related-wrapper mt-50">
                    <div class="col-lg-12">
                        <div class="mb-30">
                            <h3 class="ttm-pf-single-related-title">Related Projects</h3>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!-- featured-imagebox -->
                        <div class="featured-imagebox featured-imagebox-portfolio ttm-box-view-top-image">
                            <div class="ttm-box-view-content-inner">
                                <!-- featured-thumbnail -->
                                <div class="featured-thumbnail">
                                    <a href="#"> <img class="img-fluid" src="images/portfolio/07.jpg" alt="image"></a>
                                </div><!-- featured-thumbnail end-->
                                <!-- ttm-box-view-overlay -->
                                <div class="ttm-box-view-overlay">
                                    <div class="featured-iconbox ttm-media-link">
                                        <a class="ttm_prettyphoto ttm_image" data-gal="prettyPhoto[gallery1]" title="" data-rel="prettyPhoto" href="images/portfolio/07.jpg"><i class="ti ti-search"></i></a>
                                        <a href="portfolio-single.html" class="ttm_link"><i class="ti ti-link"></i></a>
                                    </div>
                                </div><!-- ttm-box-view-overlay end-->
                            </div>
                            <div class="featured-content featured-content-portfolio text-center box-shadow2">
                                <div class="featured-title">
                                    <h5><a href="portfolio-single.html">Financial Forecast</a></h5>
                                </div>
                            </div>
                        </div><!-- featured-imagebox -->
                    </div>
                    <div class="col-md-4">
                        <!-- featured-imagebox -->
                        <div class="featured-imagebox featured-imagebox-portfolio ttm-box-view-top-image">
                            <div class="ttm-box-view-content-inner">
                                <!-- featured-thumbnail -->
                                <div class="featured-thumbnail">
                                    <a href="#"> <img class="img-fluid" src="images/portfolio/01.jpg" alt="image"></a>
                                </div><!-- featured-thumbnail end-->
                                <!-- ttm-box-view-overlay -->
                                <div class="ttm-box-view-overlay">
                                    <div class="featured-iconbox ttm-media-link">
                                        <a class="ttm_prettyphoto ttm_image" data-gal="prettyPhoto[gallery1]" title="" data-rel="prettyPhoto" href="images/portfolio/01.jpg"><i class="ti ti-search"></i></a>
                                        <a href="portfolio-single.html" class="ttm_link"><i class="ti ti-link"></i></a>
                                    </div>
                                </div><!-- ttm-box-view-overlay end-->
                            </div>
                            <div class="featured-content featured-content-portfolio text-center box-shadow2">
                                <div class="featured-title">
                                    <h5><a href="portfolio-single.html">Business Seminar</a></h5>
                                </div>
                            </div>
                        </div><!-- featured-imagebox -->
                    </div>
                    <div class="col-md-4">
                        <!-- featured-imagebox -->
                        <div class="featured-imagebox featured-imagebox-portfolio ttm-box-view-top-image">
                            <div class="ttm-box-view-content-inner">
                                <!-- featured-thumbnail -->
                                <div class="featured-thumbnail">
                                    <a href="#"> <img class="img-fluid" src="images/portfolio/05.jpg" alt="image"></a>
                                </div><!-- featured-thumbnail end-->
                                <!-- ttm-box-view-overlay -->
                                <div class="ttm-box-view-overlay">
                                    <div class="featured-iconbox ttm-media-link">
                                        <a class="ttm_prettyphoto ttm_image" data-gal="prettyPhoto[gallery1]" title="" data-rel="prettyPhoto" href="images/portfolio/05.jpg"><i class="ti ti-search"></i></a>
                                        <a href="portfolio-single.html" class="ttm_link"><i class="ti ti-link"></i></a>
                                    </div>
                                </div><!-- ttm-box-view-overlay end-->
                            </div>
                            <div class="featured-content featured-content-portfolio text-center box-shadow2">
                                <div class="featured-title">
                                    <h5><a href="portfolio-single.html">Business Planning</a></h5>
                                </div>
                            </div>
                        </div><!-- featured-imagebox -->
                    </div>
                </div>
            </div>
        </section>
        <!-- faq-section end -->