 <div class="sidebar ttm-sidebar-right ttm-bgcolor-white clearfix">
            <div class="container">
                <!-- row -->
                <div class="row d-block">
                    <div class="col-lg-9 content-area pull-left">
                        <!-- ttm-blog-classic-->
                        <article class="post ttm-blog-classic">
                           <div class="featured-imagebox featured-imagebox-post">
                                <div class="featured-thumbnail">
                                    <img class="img-fluid" src="images/blog/blog-9.jpg" alt="">
                                    <div class="featured-icon">
                                        <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-background-color-skincolor ttm-icon_element-size-xs">
                                            <i class="ti ti-pencil"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="featured-content featured-content-post">
                                    <div class="post-meta">
                                        <span class="ttm-meta-line"><i class="fa fa-calendar"></i>January 16, 2019</span>
                                        <span class="ttm-meta-line"><i class="fa fa-comment"></i>2, comments</span>
                                    </div>
                                    <div class="separator">
                                        <div class="sep-line solid mt-10 mb-20"></div>
                                    </div>
                                    <div class="featured-desc">
                                        <p>Mauris id enim id purus ornare tincidunt. Aenean vel consequat risus. Proin viverra nisi at nisl imperdiet auctor. Donec ornare, est sed tincidunt placerat, sem mi suscipit mi, at varius enim sem at sem. Fusce tempus ex nibh, eget vulputate ligula ornare eget. Nunc facilisis erat at ligula blandit tempor. maecenas</p>
                                        <p>Donec ornare, est sed tincidunt placerat, sem mi suscipit mi, at varius enim Mauris ienim id purus ornare tincidunt. Aenean vel consequat riss. Proin viverra nisi at nisl imperdiet auctor. Donec ornare, esed tincidunt placerat sem mi suscipit mi, at varius enim sem at sem. Fuce tempus ex nibh, eget vlputate lgula ornare eget. Nunc facilisis erat at ligula blandit tempor. maecenas</p>
                                    </div>
                                </div>
                            </div>
                            <div class="ttm-blog-classic-content single-blog">
                                <div class="mb-30">
                                    <img src="images/blog/blog-1.jpg" class="img-fluid" alt="blog-1">
                                </div>
                                <h4>Less for this away much</h4>
                                <p>Donec ornare, est sed tincidunt placerat, sem mi suscipit mi, at varius enim Mauris ienim id purus ornare tincidunt. Aenean vel consequat riss. Proin viverra nisi at nisl imperdiet auctor. Donec ornare, esed tincidunt placerat sem mi suscipit mi, at varius enim sem at sem. Fuce tempus ex nibh, eget vlputate lgula ornare eget. Nunc facilisis erat at ligula blandit tempor. maecenas.</p>
                                <blockquote>
                                    <p class="mb-20">Donec ornare, est sed tincidunt placerat, sem mi suscipit mi, at varius enim Mauris ienim id purus ort. Aene auat riss. Proin viverra.</p>
                                </blockquote>
                                <p>Dummy, est sed tincidunt placerat, sem mi suscipit mi, at varius enim Mauenim id purus ornare tincidunt. Aenean vel consequat riss. Proin viverra nisi at nisl imperdiet auctor. Donec ornare, esed tincidunt placat semmi suscipit mi, at varius enim sem at sem. Fuce tempus ex nibh, eget vlputate lgula ornare eget. Nunc facilisis erat at ligula blandit tempor. maecenas.</p>
                                <h4>
                                    <img class="alignleft img-fluid" src="images/blog/blog-20.jpg" alt="blog">
                                    Beneficial Strategies
                                </h4>
                                <p>Proin viverra nisi at nisl imperdiet auctnec ornare, estsed tincidunare tincidunt. t risutincidat, senibeget at varius enim sem at sem. Fuce tempus ex nibh.</p>
                                <ul class="ttm-list ttm-list-style-icon d-inline-block">
                                    <li><i class="fa fa-check ttm-textcolor-skincolor"></i><span class="ttm-list-li-content"> Quisque aliquet nibh sit amet lectus auctor </span></li>
                                    <li><i class="fa fa-check ttm-textcolor-skincolor"></i><span class="ttm-list-li-content"> Nulla at metus ultricies, placerat augue sed.</span></li>
                                    <li><i class="fa fa-check ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Curabitur mollis ex vestibulum, ullamcorper.</span></li>
                                    <li><i class="fa fa-check ttm-textcolor-skincolor"></i><span class="ttm-list-li-content">Quisque aliquet nibh sit amet lectus auctor</span></li>
                                </ul>
                                <h4 class="mt-20">Why Integrate Side Projects?</h4>
                                <p>Suscipit mi, at varius enim sem at sem. Fuce tempus ex nibh, eget vlputate lgula ornare eget. Nunc facilisis erat at Donec ornare, est sed tincidunt placerat, sem mi suscipit mi, at varius enim Mauris ienim id purus ornare tincidunt. Aenean vel consequat riss. Proin viverra nisi at nisl imperdiet auctor. Donec ornare, esed tincidunt placerat sem mi suscipit mi, at varius enim sem at sem. Fuce tempus ex nibh, eget vlputate lgula ornare eget. Nunc facilisis erat at ligula blandit tempor. maecenas</p>
                                <div class="separator">
                                    <div class="sep-line solid mt-30 mb-30"></div>
                                </div>
                                <div class="clearfix">
                                    <div class="social-icons circle social-hover pull-left res-767-fnone">
                                        <div class="ttm-social-share-title d-inline-block">
                                            <h5> Share This Projects</h5>
                                        </div>
                                        <ul class="list-inline mb-0 d-inline-block">
                                            <li class="social-facebook"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li class="social-twitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="ttm-tag-list pull-right res-767-fnone">
                                        <span>
                                            <a href="#">Business</a>
                                            <a href="#">Marketing</a>
                                        </span>
                                    </div>
                                </div>
                                <div class="ttm-blog-classic-box-comment">
                                    <div id="comments" class="comments-area">
                                        <h2 class="comments-title">2 Replies to “10 Strategies to Manage Financial Forecast”</h2>
                                        <ol class="comment-list">
                                            <li>
                                                <div class="comment-body">
                                                    <div class="comment-author vcard">
                                                        <img src="images/blog/blog-comment-01.jpg" class="avatar" alt="comment-img">
                                                    </div>
                                                    <div class="comment-box">
                                                        <div class="comment-meta commentmetadata">
                                                            <cite class="ttm-comment-owner">Alex</cite>
                                                            <a href="#">February 14, 2019 at 8:41 am</a>
                                                        </div>
                                                        <div class="author-content-wrap">
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium eius, sunt porro corporis maiores ea, voluptatibus omnis maxime</p>
                                                        </div>
                                                        <div class="reply">
                                                            <a rel="nofollow" class="comment-reply-link" href="#">Reply</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="children comment">
                                                <div class="comment-body">
                                                    <div class="comment-author vcard">
                                                        <img src="images/blog/blog-comment-02.jpg" class="avatar" alt="comment-img">
                                                    </div>
                                                    <div class="comment-box">
                                                        <div class="comment-meta">
                                                            <cite class="ttm-comment-owner">Cherieh</cite>
                                                            <a href="#">February 14, 2019 at 8:42 am</a>
                                                        </div>
                                                        <div class="author-content-wrap">
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium eius, sunt porro corporis maiores ea, voluptatibus omnis maxime</p>
                                                        </div>
                                                        <div class="reply">
                                                            <a rel="nofollow" class="comment-reply-link" href="#">Reply</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ol>
                                        <div class="comment-respond">
                                            <h3 class="comment-reply-title">Leave a Reply</h3>
                                            <form action="#" method="post" id="commentform" class="comment-form">
                                                <p class="comment-notes">Your email address will not be published. </p>
                                                <p class="comment-form-comment">
                                                    <textarea id="comment" placeholder="Comment" name="comment" cols="45" rows="8" aria-required="true"></textarea>
                                                </p>
                                                <p class="comment-form-author">
                                                    <input id="author" placeholder="Name (required)" name="author" type="text" value="" size="30" aria-required="true">
                                                </p>
                                                <p class="comment-form-email">
                                                    <input id="email" placeholder="Email (required)" name="email" type="text" value="" size="30" aria-required="true">
                                                </p>
                                                <p class="comment-form-url">
                                                    <input id="url" placeholder="Website" name="url" type="text" value="" size="30">
                                                </p>
                                                <p class="comment-form-cookies-consent">
                                                    <input id="comment-cookies-consent" name="comment-cookies-consent" type="checkbox" value="yes">
                                                    <label for="comment-cookies-consent">Save my name, email, and website in this browser for the next time I comment.</label>
                                                </p>
                                                <p class="form-submit pt-20">
                                                    <input name="submit" type="submit" id="submit" class="submit ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-fill ttm-btn-bgcolor-skincolor" value="Post Comment">
                                                </p>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <!-- ttm-blog-classic end -->
                    </div>
                    <div class="col-lg-3 widget-area ttm-bgcolor-grey pull-right">
                        <aside class="widget widget-search">
                            <form role="search" method="get" class="search-form  box-shadow" action="#">
                                <label>
                                <span class="screen-reader-text">Search for:</span>
                                <i class="fa fa-search"></i>
                                <input type="search" class="input-text" placeholder="Search …" value="" name="s">
                                </label>
                            </form>
                        </aside>
                        <aside class="widget widget-text">
                            <div class="ttm-author-widget">
                                <div class="author-widget_img">
                                    <img class="author-img" src="images/author-img.png" alt="author image">
                                </div>
                                <h4 class="author-name">Fondex-author</h4>
                                <p class="author-widget_text">As a business consultant, we focus on delivering quantifiable results for our customers, based on a well tested methodology and solid experience.</p>
                                <span class="about-autograph">
                                    <img class="author-img" src="images/author-widget-sign.png" alt="author image">
                                </span>
                            </div>
                        </aside>
                        <aside class="widget widget-categories">
                            <h3 class="widget-title">Categories</h3>
                            <ul>
                                <li><a href="#">Business</a><span>3</span></li>
                                <li><a href="#">Consulting</a><span>3</span></li>
                                <li><a href="#">Financial Support</a><span>1</span></li>
                                <li><a href="#">Investment</a><span>3</span></li>
                                <li><a href="#">Marketing</a><span>2</span></li>
                                <li><a href="#">Seminar</a><span>3</span></li>
                                <li><a href="#">Strategies</a><span>4</span></li>
                            </ul>
                        </aside>
                        <aside class="widget post-widget">
                            <h3 class="widget-title">Latest News</h3>
                            <ul class="widget-post ttm-recent-post-list">
                                <li>
                                    <a href="single-blog.html"><img src="images/blog/blog-6.jpg" alt="post-img"></a>
                                    <span class="post-date">20 April,2018</span>
                                    <a href="single-blog.html" class="clearfix">Successful Growth In Business 2018</a>
                                </li>
                                <li>
                                    <a href="single-blog.html"><img src="images/blog/blog-7.jpg" alt="post-img"></a>
                                    <span class="post-date">01 August, 2018</span>
                                    <a href="single-blog.html" class="clearfix">Achieving Best Business Awards</a>
                                </li>
                                <li>
                                    <a href="single-blog.html"><img src="images/blog/blog-8.jpg" alt="post-img"></a>
                                    <span class="post-date">13 March, 2018</span>
                                    <a href="single-blog.html" class="clearfix">Seminar for Best Marketing Strategy</a>
                                </li>
                            </ul>
                        </aside>
                        <aside class="widget contact-widget">
                            <h3 class="widget-title">Get in touch</h3>      
                            <ul class="contact-widget-wrapper">
                                <li><i class="fa fa-map-marker"></i>Fondex Business 24 Fifth st., Los Angeles, USA</li>
                                <li><i class="fa fa-envelope-o"></i><a href="mailto:info@example.com" target="_blank">info@example.com</a></li>
                                <li><i class="fa fa-phone"></i>(+01) 123 456 7890</li>
                                <li><i class="ti ti-alarm-clock"></i>Mon - Sat 8.00 - 18.00. Sunday CLOSED</li>
                            </ul>
                        </aside>
                        <aside class="widget tagcloud-widget">
                            <h3 class="widget-title">Tags</h3>
                            <div class="tagcloud">
                                <a href="#" class="tag-cloud-link">Business</a>
                                <a href="#" class="tag-cloud-link">Consulting</a>
                                <a href="#" class="tag-cloud-link">Financial Support</a>
                                <a href="#" class="tag-cloud-link">Investment</a>
                                <a href="#" class="tag-cloud-link">Marketing</a>
                                <a href="#" class="tag-cloud-link">Seminar</a>
                                <a href="#" class="tag-cloud-link">Strategies</a>
                            </div>
                        </aside>
                    </div>
                </div><!-- row end -->

            </div>
        </div>